.white-bg {
  padding: 20px;
  background-color: white;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  margin-top: 30px;
  left: 50%;
  right: 50%;
}

.logo-btn {
  height: 5rem;
  width: 5rem;
  background-color: var(--yellow);
  border-radius: 1.5rem;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  border: none;
}

.avatar-btn {
  height: 5rem;
  width: 5rem;
  background-color: var(--yellow);
  align-items: center;
  border-radius: 2rem;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  border: none;
  margin-left: 4%;
  position: absolute;
}

.logo-title {
  color: grey;
  margin-bottom: 2%;
}

.avatar-title {
  color: black;
  font-weight: 700;
  margin-bottom: 8%;
  font-size: 2em;
}

.profile-h2 {
  font-weight: 700;
  color: black;
  font-size: 2em;
  text-align: left;
  margin-top: 4%;
  margin-bottom: 2%;
}

.profile-h4 {
  font-weight: 700;
  color: black;
  font-size: 1em;
  text-align: center;
  padding-top: 10px;
}

.profile-h3 {
  font-weight: 700;
  color: black;
  font-size: 1.5em;
  margin-left: 6rem;
}

.profile-h2 {
  font-weight: 700;
  color: black;
  font-size: 2em;
  text-align: left;
  margin-left: 6rem;
  margin-top: 4%;
  margin-bottom: 2%;
}

.profile-p {
  font-weight: 700;
  color: black;
  font-size: 1em;
  padding-left: 20px;
  margin: 2%;
  text-align: center;
}
