.nav {
  background-color: rgba(0, 0, 0, 0.918);

}

.link {
  color: #e7b922;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.link:hover {
  color: #ffffff;
}

.dropdown-toggle ::after {
  display: none; 
}