/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* BUTTON */

.btn {
  font-weight: 700;
}

/* FLEXBOX */

.section {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.flex-search{
  padding: 100px 10 px;
  width: 50%;
}


/* HERO */
.hero-image {
  height: 50vh;
}

.hero-image-container {
  height: 100%;
  background-image: url('https://i.imgur.com/evs1B0D.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: black;
}

.hero-image-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 100%;
  color: white;
  padding: 70px 10px 15px 10px;
  text-align: left;
  margin-left: 40vh;
  letter-spacing: .005em;
}

.hero-text {
  height: 90%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-weight: 700;
  color: black;
  font-size: 2.5em;
  padding: 40px 10px 70px 10px;
  text-align: center;
}

.hero-p {
  font-size: 1.5em;
  letter-spacing: .3em;
  padding: 10px;
  max-width: 550px;
}


@media (max-width: 600px) {
  .hero-title {
      font-size: 2em;
  }

  .hero-p {
      font-size: .8em;
  }

}

@media (max-width: 400px) {
  .hero-title {
      font-size: 1.5em;
  }

  .hero-p {
      padding: 10px 20px 10px 20px;
      font-size: .7em;
  }

}

/* SEARCH BOX */


.search-sec{
    position: relative;
    top: -30px;
    padding: 0.9rem;
    width: 50%;
    margin-top: 0;
    border: 4px solid var(--background-color);
    margin-left: auto;
    margin-right: auto;

}

::placeholder {
  font-size: 16px;
  padding-left: 2.5%;
  font-weight: 700;
  font-family: 'Inter';
}

@media (min-width: 992px){
    .search-sec{
        background:  rgba(0, 0, 0);
        border-radius: 15rem;
    }
}

@media (max-width: 992px){
    .search-sec{
        background:  rgba(202, 136, 12, 0.9);
        width: 100%;
        margin-left: 0;
    }
}

/* BOTTOM IMAGE */

.hero-image-cta-container{
  height: 125%;
  background-image: url('https://i.imgur.com/9SXTRPS.png');
  padding-top: 120px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgb(42, 42, 42);
  
}

.hero-image-cta-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 200%;
  color: white;
  margin-left: 40%;
  line-height: 2em;
  letter-spacing: .005em;
}