.footer {
  padding: 1rem;
  background-color: black;
  bottom: 0;
  width: 100%;
  color: var(--yellow);
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2%;
}

.footer-p {
  font-size: 15px;
  letter-spacing: 0.01em;
  padding: 0px;
  max-width: 550px;
  height: 5px;
}

.footer-h1 {
  font-size: 20px;
  letter-spacing: 0.01em;
  padding-bottom: 10px;
  font-weight: 700;
}

.footer-h3 {
  font-size: 17px;
  padding: 0px;
  font-weight: 700;
  color: var(--yellow);
}

a:visited {
  text-decoration: none;
  color: var(--yellow);
}

a:link {
  text-decoration: none;
}
