.sidebar {
  background-color: var(--user);
}

.candidateLinks {
  cursor: pointer;
}

.active {
  background: var(--yellow);
}

.hoverEffect:hover {
  background: var(--yellow);
  transition: all 1s;
}

