.sidebar {
  background-color: var(--user);
}

.active {
  background: var(--yellow);
}

.hoverEffect:hover {
  background: var(--yellow);
  transition: all 1s;
}

.logout-btn {
  background-color: var(--yellow);
  border: none;
  border-radius: 0.5rem;
  line-height: 1.5;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
  color: white;
}
